<div class="row">

        <div class="col-6 center">
            <form action="/survey" method="get">
            <button class="btn" type="submit">Fill out survey</button>
            </form>
        </div>

        <div class="col-6 center">
            <form action="/results" method="get">
            <button class="btn" type="submit">View survey results</button>
            </form>
        </div>

</div>